<!DOCTYPE html>
<html class="blue-grey darken-4">
<head>
	<title>古幣封印 - </title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <meta charset="UTF-8">
    <meta name="theme-color" content="#263238">
    <meta name="viewport" content="width=device-width, user-scalable=no" />

    <!-- CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.0/css/all.min.css">

    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158078787-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-158078787-2');
    </script>

    <!-- User Sources -->
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
    <div class="modals" id="modal-vue">
        <div v-for="modal in modals" class="modal blue-grey darken-4 grey-text text-lighten-2" :id="modal.exec + '-modal'">
            <div class="modal-content">
                <h4>{{modal.title}}</h4>
                <input v-if="modal.exec == 'share'" type="text" value="" id="share-link-buf">
                <p v-if="modal.exec == 'info'" class="center-align">
                    本網站是由 <a href="https://github.com/luswdev" target="_blank">LuSkywalker</a> 基於 Github Page 所發表，網頁原始碼存放於此: <a href="https://github.com/luswdev/tos-card-pool" target="_blank">tos-card-pool</a>。<br />
                    圖片版權為 Mad Head Limited 所有，如有任何疑問，歡迎來信作者。
                </p>
                <p v-if="modal.exec == 'info'" class="center-align">
                    <a href="https://github.com/luswdev" class="blue-grey-text" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="mailto://info@lusw.dev" class="blue-grey-text" target="_blank">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="far fa-envelope fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </p>
            </div>
            <div class="modal-footer">
                <button class="modal-confirm waves-effect waves-light btn-flat grey-text text-lighten-1">確定</button>
                <button class="modal-close waves-effect waves-light btn-flat grey-text text-lighten-1">取消</button>
            </div>  
        </div>
        <div class="fixed-action-btn">
            <button class="btn btn-floating btn-large waves-effect waves-light blue-grey darken-2">
                <i class="material-icons">dehaze</i>
            </button>
            <ul>
                <li v-for="btn in modals">
                    <button :data-target="btn.exec + '-modal'" class="btn btn-floating waves-effect waves-light blue-grey darken-1 modal-trigger" :id="btn.exec + '-modal-trigger'">
                        <i class="material-icons">{{btn.icon}}</i>
                    </button>
                </li>
            </ul>
        </div>
    </div>

	<main>
		<div class="main-inner">
            <div class="title-box flex" id="title-vue">
                <h3 class="main-title inline">古幣封印</h3>
                <span class="grey-text text-lighten-1 sub-title flex">{{gen_num}}</span>
                <div class="inverse flex pointer" :class="{'inverse-on':inverse}"  v-on:click="click_inv()">反向標示</div>
            </div>
            <div class="all-pools flex" id="pools-vue">
                <div v-for="(pool, index) in pools" class="pool-box flex" :id="'pool-'+index">
                    <div v-for="card in pool.cards" class="card-box flex pointer tooltipped" v-bind:class="is_picked(get_id())" :id="'card-' + increment()" data-position="bottom" :data-tooltip="card.name">
                        <img :src="'/images/icon/' + card.no + '.png'" :alt="card.no"/>
                    </div>
                    <div class="grey-text text-lighten-1 pool-title flex"><span>{{pool.series}}</span></div>    
                </div>
            </div>
		</div>
    </main>
    <footer class="blue-grey-text text-lighten-1">
        <div class="footer-inner">
            <div class="footer-copyright-box inline"><span>&copy; 2020 LuSkywalker</span></div> <span>|</span>
            <div class="busuanzi-box inline">
                <div class="pv-box inline"><i class="material-icons">remove_red_eye</i>  <span id="busuanzi_value_site_pv"></span></div> <span>|</span>
                <div class="uv-box inline"><i class="material-icons">group</i>   <span id="busuanzi_value_site_uv"></span></div>
            </div>
        </div>
    </footer>

    <script src="/scripts/render.js"></script>
</body>
</html>